
  .wrapinput100 {
    width: 100%;
    padding: 10px 0;
  }
  /*//////////////////////////////////////////////////////////////////
  [ Utility ]*/
  .txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #e5e5e5;
    line-height: 1.5;
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ login ]*/
  
  .limiter {
    width: 100%;

  }
  
  .containerlogin100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /* background-image: url('/bg-01.jpg'); */
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;  
  }
  
  
  
  .wraplogin100 {
    border-radius: 20px;
    overflow: hidden;
  
    background: transparent;
  }
  .login100form {
    width: 100%;
    border-radius: 10px;
  }
  
  .login100formlogo {
    font-size: 60px; 
    color: white;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .mainhead{
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .login100formtitle {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 25px;
      color: #fff;
      line-height: 1.2;
      text-align: left;
      text-transform: uppercase;
      display: block;
      padding: 14px;
    }
    .sidemenu{
      border-bottom: 1px solid black;
      width:100%;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .mainheads{
      color:#2BEBC8;
      font-size: 40px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .mainname{
      font-size: 20px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .allhead{
      margin-left: auto;
    }
    .textArea100 {
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
      font-weight: 500;
      color: white;
      border-radius: 15px;
      width: 100%;
      display: flex;
      justify-content: center;
      background: black;
      padding:3%;
      text-align: center;
      // width: 300px;
      height: 150px;
      overflow: hidden;
    }
    .textArea100 ::placeholder{
      color:white;
    }
    .input100 ::placeholder{
      color:white;
    }
    .mainaddress{
      padding-left:50px;
      font-size: 30px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .input100 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
      height: 4px;
      font-weight: 500;
      color: white;
      border-radius: 15px;
      width: 100%;
      display: flex;
      justify-content: center;
      background: black;
      padding:3%;
      text-align: center;
    }
    
  
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  .containerlogin100formbtn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  .login100formbtn {
    font-family: Ubuntu-Bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    border-radius: 10px;
  
    background: #EE4645;
    position: relative;
  
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .card,
    .footer {
      border-color: #222;
    }
    .code {
      background: #111;
    }
    .logo img {
      filter: invert(1);
    }
  }
  